/* Buttons */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-btn-container {
  display: flex;
  justify-content: center;
}

.prompt {
  min-height: 50px;
  min-width: 200px;
  margin: 20px;
}

.bottom-btn-container {
  display: flex;
  width: 480px;
  justify-content: space-between;
}

.shake {
  min-height: 50px;
  min-width: 200px;
  margin: 20px;
}

/* Grid */

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 480px;
  height: 480px;
  border: black 5px solid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 1px;
}

.div-square {
  background-color: grey;
}
