/* Button */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

.prompt {
  min-height: 50px;
  min-width: 200px;
  margin: 20px;
}

/* Grid */

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;

  width: 960px;
  height: 960px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 1px;
}

.div-square {
  background-color: blue;
}

.div-square:hover {
  background-color: white;
}
